.article-container {
  max-width: 900px;
}

.wg-hero {
    margin: 0 !important;
    width: 100%
}

.hero-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 120%;
}

.hero-title span {
    white-space: nowrap;
}

.home-section {
    padding: 0rem 4% 2rem 4%;
    border-top: solid 1px #ddd;
}

.page-event-header h1, .page-event-header p {
    text-align: center;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 1px 3px #23430C;
}

.page-event-header h1 {
    font-size: 1.8rem;
}

.page-event-header p.page-subtitle {
    font-size: 1.5rem;
}


.wg-markdown h1, .page-body h1 {
    margin: 1em 0 1em 0;
    text-align: center;
}
.wg-markdown h2, .page-body h2 {
    margin: 2em 0 1em 0;
    border-bottom: solid lightblue 4px;
}

div.people-widget h2 {
    border: none;
}


h1, .h1 {
  font-size: 1.75rem; }

h2, .h2 {
  font-size: 1.6rem; }

h3, .h3 {
  font-size: 1.45rem; }

h4, .h4 {
  font-size: 1.3rem; }

h5, .h5 {
  font-size: 1.15rem; }

h6, .h6 {
  font-size: 1rem; }

.view-list-item {
    margin-bottom: 0.2rem;
}


// Center the CTA shortcode button
.cta-group {
    justify-content: center;
}
.cta-group li a.btn {
    font-size: large;
}
